# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtualenv
.env
.venv
venv/
ENV/

# IDEs and editors
.vscode/
.idea/
*.swp

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Alembic
backend/alembic/versions/*.pyc

# Docker
*.log
postgres-data/
media-data/

# Node / frontend
node_modules/
dist/

# Local env files
.env
