palsy-training.ru {
    route {
        handle /api/* {
            reverse_proxy backend:8000
        }

        handle {
            # Раздаём собранный фронтенд
            root * /srv

            # Сжатие
            encode zstd gzip

            # SPA fallback: если файла нет — отдаём index.html
            try_files {path} /index.html

            # Включаем файловый сервер
            file_server
        }
    }
}
