palsy-training.ru {
    # Раздаём собранный фронтенд
    root * /home/deployer/app/frontend/dist

    # Сжатие
    encode zstd gzip

    # SPA fallback: если файла нет — отдаём index.html
    try_files {path} /index.html

    # Включаем файловый сервер
    file_server
}
